<?xml version="1.0"?>
<ruleset name="SIRA Core">
	<description>WordPress Coding Standards configuration for SIRA Core.</description>

	<file>.</file>

	<exclude-pattern>*/assets/*</exclude-pattern>
	<exclude-pattern>*/tools/validation/*</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="ps"/>

	<config name="testVersion" value="8.3-"/>

	<rule ref="WordPress"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Extra"/>

	<rule ref="Generic.Files.LineLength">
		<properties>
			<property name="lineLimit" value="100"/>
			<property name="absoluteLineLimit" value="140"/>
		</properties>
	</rule>
</ruleset>
